$minWidth: 1300px;
$footerHeight: 100px;

$darkBlue: #151f39;
$colorVioletLight: #8959a7;
$colorYellow: #f7bc02;
$colorCyan: #168383;
$colorRed: #bc0524;
$colorBg: #f6f6f6;



$bp1: 1300px;


@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint';
@import 'sass/mixins';
@import 'sass/fonts';
@import 'sass/normalize';




@import 'sass/main';
@import 'sass/header';
@import 'sass/footer';
//@import 'sass/slick';
//@import 'sass/popup';


body{
	opacity: 1!important;
}

