extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content
	form.form.js-form(method='post', action='/data/test.php')
		.form__from
			input(type='text', name='from')
		.form__field
			input(type='text', name='theme')
		.form__field
			input(type='password')
		.form__field
			textarea(name='message')