html {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	font-size: 100.01%;
	//min-width: 1000px;
	min-height: 580px;
	min-width: $minWidth;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.2;
	font-family: 'Open Sans', sans-serif;
}


.wrapper  {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	height: auto !important;
	overflow: hidden;
	left: 0;

}

.website {
	position: relative;
	width: 100%;
	padding-bottom: $footerHeight;
}


.inner{
	width: 1256px;
	margin: 0 auto;
}






