
.overflow_hidden {
	overflow: hidden;
}


.tooltip{
	position: absolute;
	display: none;
	text-align: center;
	margin-top: 12px;
	z-index: 120;

	&:before,
	&:after {
		content: '';
		display: block;
		border: 6px solid transparent;
		border-bottom-color: #fff;
		position: absolute;
		left: 0;
		margin-left: -6px;
		top:-11px;
	}
	&:before {
		top:-12px;
		border-bottom-color: #e8e8e8;
	}

	span{
		display: inline-block;
		padding: 7px 15px;
		background: #fff;
		position: relative;
		left: -50%;
		@include box-shadow(0 1px 3px rgba(0, 0, 0, .3));
		@include border-radius(15px);

		font-size: 13px;
	}

	&.show{
		display: block;
	}

}




.popup{
	display: none;
	color: #343434;

	&__inner{
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		white-space: nowrap;
		width: 100%;
		z-index: 102;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&__layout{
		@include border-radius(18px);
		background-color: white;
		box-sizing: border-box;
		display: inline-block;
		margin: 60px auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		white-space: normal;
		width: 530px;
		z-index: 102;

		border: 8px solid rgba(0,0,0,0.15);


	}

	&__close{
		width: 35px;
		height: 35px;
		position: absolute;
		cursor: pointer;
		background: #ddd;
		top: -50px;
		right: -85px;
		@include opacity(0.4);

		&:hover{
			@include opacity(0.8);
		}
	}

	&__overlay{
		background-color: rgba(0, 0, 0, 0.7);
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 101;
	}

}

